# Database
DATABASE_URL="postgresql://demo:demo123@localhost:5432/demo?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Admin
ADMIN_TOKEN="demo-admin-token-12345"

# API
NEXT_PUBLIC_API_URL="http://localhost:3001"

# Demo Mode
DEMO_MODE=true
